<div>
    <h1>Productos:</h1>

    <ul>
        {{#each products.docs}}
        <li>
            <p><b>{{this.title}}</b></p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
            <button><a href="/product/{{this._id}}">Add to Cart</a></button>
        </li>
        {{/each}}
    </ul>

    <div>
        {{#if products.hasPrevPage}}
        <a href="/?page={{products.prevPage}}">Anterior</a>
        {{/if}}
        <span>Página {{products.page}} de {{products.totalPages}}</span>
        {{#if products.hasNextPage}}
        <a href="/?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>

</div>